<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="css/custom.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
      <header id="header">
        <div class="navbar-fixed">
            <ul id="dropdown1" class="dropdown-content">
                <li><a href="#!">Profile</a></li>
                <li class="divider"></li>
                <li><a href="#!">Sign Out</a></li>
              </ul>
          <nav class="yellow">
            <div class="nav-wrapper">
                
              <a href="#" class="brand-logo center">More-Recipe</a>
              <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
              <ul class="hide-on-med-and-down left">               
                  <li>    
                     <div class="center row">
                        <div class="col s12 " >
                          <div class="row" id="topbarsearch">
                            <div class="input-field col s6 s12 white-text">
                              <i class="white-text material-icons prefix">search</i>
                              <input type="text"class="white-text" >
                              <i class="material-icons closed">close</i>
                              </div>
                            </div>
                          </div>
                        </div>          
                    </li>
              </ul>   
              
              <ul id="navvy" class="right hide-on-med-and-down">
                <li><a href=""class="tooltipped" data-position="bottom" data-delay="100" data-tooltip="add recipe"><i class="material-icons">add</i></a></li>
                <li><a href=""><i class="material-icons">favorite</i></a></li>
                <li><a href=""><i class="material-icons">book</i></a></li>
                <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons">account_circle</i></a></li>
              </ul>
              <ul class="side-nav" id="mobile-demo">
                  <li>
                      <form>
                          <div class="input-field">
                            <input id="search" type="search" required>
                            <label class="label-icon" for="search"><i class="material-icons">search</i>
                            </label>
                            <i class="material-icons closed">close</i>
                          </div>
                      </form>
                  </li>
                  <li>    
                      <div class="center row">
                         <div class="col s12 " >
                           <div class="row" id="topbarsearch">
                             <div class="input-field col s6 s12 red-text">
                               <i class="red-text material-icons prefix">search</i>
                               <input type="text"class="red-text" >
                               </div>
                             </div>
                           </div>
                         </div>          
                     </li>
                  <li><a href="">Create recipe<i class="material-icons">add</i></a></li>
                  <li><a href="">Favourites<i class="material-icons">favorite</i></a></li>
                  <li><a href="">My Profile<i class="material-icons">account_circle</i></a></li>
                  <li><a href="">My Recipes<i class="material-icons">book</i></a></li>
                  <li><a href="">Sign out<i class="material-icons"></i></a></li>
                </ul>
            </div>
          </nav>
        </div>
      </header>

      <section class="container">
          <h4>Manage my Recipes</h4>
          <div class="row">
                <ul class="collapsible" data-collapsible="accordion">
                        <li>
                          <div class="collapsible-header"><i class="material-icons">add</i>Add a New Recipe</div>
                          <div class="collapsible-body">
                                <div class="row">
                                        <form class="col s12 white">
                                          <div class="row">
                                            <div class="input-field col s12 m12">
                                              <input id="first_name" type="text" class="validate">
                                              <label for="first_name">Recipe Title</label>
                                            </div>
                                            <div class="input-field col s12 m12">
                                               <textarea id="textarea1" class="materialize-textarea"></textarea>
                                                <label for="textarea1">Description</label>
                                            </div>
                                          </div>
                                        </form>
                                      </div>
                                            
                          </div>
                        </li>
                        <li>
                          <div class="collapsible-header"><i class="material-icons">edit</i>Edit a Recipe</div>
                          <div class="collapsible-body">
                                <div class="row">
                                        <div class="col s12 m4">
                                          <div class="card">
                                            <div class="card-image">
                                              <img src="./images/bg2.jpg">
                                              <span class="card-title">Recipe Title</span>
                                              <a class="btn-floating halfway-fab waves-effect waves-light yellow"><i class="material-icons">edit</i></a>
                                            </div>
                                            <div class="card-content">
                                              <p>A short description of the recipe with information about the recipe in 140 characters or less.</p>
                                            </div>
                                            <div class="card-action">
                                              
                                              <a class=""><i class="material-icons">thumb_up</i>50</a>
                                              <a class=""><i class="material-icons">thumb_down</i>5</a>
                                              <a class=""><i class="material-icons">visibility</i>4</a>
                                              
                                          </div>
                                        </div>
                                      </div>
                                </div>
                          </div>
                        </li>
                        <li>
                          <div class="collapsible-header"><i class="material-icons">clear</i>Delete a Recipe</div>
                          <div class="collapsible-body">
                                <div class="row">
                                        <div class="col s12 m4">
                                          <div class="card">
                                            <div class="card-image">
                                              <img src="./images/bg2.jpg">
                                              <span class="card-title">Recipe Title</span>
                                              <a class="btn-floating halfway-fab waves-effect waves-light yellow"><i class="material-icons">clear</i></a>
                                            </div>
                                            <div class="card-content">
                                              <p>A short description of the recipe with information about the recipe in 140 characters or less.</p>
                                            </div>
                                            <div class="card-action">
                                              
                                              <a class=""><i class="material-icons">thumb_up</i>50</a>
                                              <a class=""><i class="material-icons">thumb_down</i>5</a>
                                              <a class=""><i class="material-icons">visibility</i>4</a>
                                              
                                          </div>
                                        </div>
                                      </div>
                                </div>
                          </div>
                        </li>
                      </ul>
          </div>
      </section>

      
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.js"></script>
      <script type="text/javascript" src="js/custom.js"></script>
    </body>
  </html>