$background_color_1: white;
$background_color_2: #E25141;

.modal {
	max-height: 90%;
}
a{
	color: black
}
paginate{
	margin-bottom: 30%;
}
h1,h2,h3,h4,h5,h6,.brand-logo{
	font-family: 'Acme', sans-serif;
}
.modal-form-row {
	margin-bottom: 0px;
}
#profileBanner {
	height: 100px;
	background-color: $background_color_2;
}
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	font-family: 'Quattrocento Sans', sans-serif;
		//background-image: url('/images/bg3.jpg');
		//background-color: #AB382F;
    background-size: 100%
}
.body-index{
	background-image: url('/images/bg3.jpg');
}

#main {
	flex: 1 0 auto;
}
.card {
	border-radius: 10px !important;
}
#backToTop {
	display: none;
	position: fixed;
	bottom: 80px;
	right: 30px;
}
label {
	width: 100%;
}
.search-icon {
	padding: 0px 0px 5px 0px;
}
.side-nav{
  transform: translateX(-100%) 
}
footer{
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	margin-top: 50px;
	z-index: 500;
}
.btn { 
	margin-right: 5px !important; 

}

.homepage{
	background-image: url('http://res.cloudinary.com/myresources/image/upload/v1516782949/Wallpapers_1440x900_as4kxb.jpg') !important;
	background-size: 100%;
	min-height: 900px;
	padding-top: 20%;
}

.home-text-wrapper{
	text-align: center;
	background-color: rgba(0, 0, 0, 0.4);
	padding-top: 20px;
	padding-bottom: 30px;
	border-radius: 20px;
}

i.left {
	float: left;
	margin-right: 3px;
}
.wrapper {
	word-wrap: break-word;
}
.reviews {
	margin-bottom: 3% !important;
}
.bordered-wrapper-right{
	margin-right: 20px !important;
}
.bordered-wrapper-left{
	margin-left: 20px !important;
}
@media (min-width: 768px) {
	.modal{
		width: 40% !important
	}
}
.reviews-box{
	height: 100px;
	overflow: scroll;
}
.edit{
	padding-top: 5px;
}

.recipe-icon{
	padding: 0px 5px 0px 0px;
}

.search-row{
	background-image: url('http://res.cloudinary.com/myresources/image/upload/v1516783786/paul-m-112720_zlkxkp.jpg');
	background-size: 100%;
	height: 400px;
	padding: 100px 50px 0px 50px;
}
.search-list-row{
	height: 100px;
	border-bottom: 1px solid black;
}
.search-list-icon{
	height: 80px;
	width: 80px;
	padding-top: 5px;
}
.results-list{
	z-index: 1000;
}

.input-field label {
	color: #000;
}
/* label focus color */
.input-field input[type=text]:focus + label {
	color: #000;
}
.input-field input[type=text]:focus {
	border-bottom: 1px solid #000 !important;
	box-shadow: 0 1px 0 0 #000;
}